# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tfplan
*.tfplan
plan.json
plan.txt


# Editors / OS
.vscode/
.idea/
.DS_Store
plan.raw
plan.out
apply.raw
apply.out
